<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/access/role/detail.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="detail" th:object="${findOne}" th:action="@{/access/role/delete}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div class="row">
                        <div class="title col">기본 정보</div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>권한구분</label></div>
                        <div class="col-10" th:text="*{roleType.description}"/>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>설명</label></div>
                        <div class="col-10" th:text="*{description}"></div>
                    </div>
                    <div class="row equal-line-btn align-items-end">
                        <div class="title col">자원목록</div>
                    </div>
                    <div class="row">
                        <div class="list-table sticky-table col">
                            <div class="sticky-table-wrap" style="max-height: 300px;">
                                <table>
                                    <colgroup>
                                        <col style="width: 250px;" />
                                        <col />
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>패턴</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="resource, idx: ${findOne.resources}">
                                        <td class="text-left" th:text="${resource.name}"></td>
                                        <td class="text-left" th:text="${resource.pattern}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row equal-line-btn align-items-end">
                        <div class="title col">메뉴목록</div>
                    </div>
                    <div class="row">
                        <div class="list-table sticky-table col">
                            <div class="sticky-table-wrap" style="max-height: 300px;">
                                <table>
                                    <colgroup>
                                        <col style="width: 250px;" />
                                        <col style="width: 50px;" />
                                        <col />
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>순서</th>
                                        <th>URL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="menu, idx: ${findOne.menus}">
                                        <td class="text-left" th:text="${menu.name}"></td>
                                        <td class="text-left" th:text="${menu.sort}"></td>
                                        <td class="text-left" th:text="${menu.url}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center col">
                <a class="btn mr-3 btn-primary" th:href="@{/access/role/modify-form(id=*{id})}">수정</a>
                <span>
                    <span tabindex="-1">
                        <button type="submit" class="btn btn-danger mr-3">삭제</button>
                    </span>
                </span>
                <a class="btn btn-secondary" th:href="@{/access/role/page}">취소</a>
            </div>
        </div>
    </form>
</div>
</html>