<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/access/role/modify-form.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="modify" th:object="${modify}" th:action="@{/access/role/modify}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div>
                        <div class="row">
                            <div class="title col">
                                기본 정보
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label>권한구분<span class="em-check">*</span></label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <select class="custom-select" th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('roleType') ? 'is-invalid' : 'is-valid') : ''}"
                                                th:field="*{roleType}">
                                            <option th:each="value : ${T(kr.co.niceday.cms.access.role.enumerate.RoleType).values()}"
                                                    th:value="${value.name()}" th:text="${value.description}"></option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('roleType')}" th:errors="*{roleType}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label>설명</label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <input type="text" autocomplete="off" class="form-control"
                                               th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('description') ? 'is-invalid' : 'is-valid') : ''}"
                                               th:type="text"
                                               th:field="*{description}">
                                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row equal-line-btn align-items-end">
                            <div class="title col">자원목록<span class="em-check">*</span></div>
                            <div class="title text-right col">
                                <button type="button" class="btn mr-1 btn-sm btn-info" data-toggle="modal" data-target="#resourceModal">추가</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="list-table col">
                                <table th:class="${#fields.hasAnyErrors() ? (#fields.hasErrors('resources') ? 'is-invalid' : 'is-valid') : ''}">
                                    <colgroup>
                                        <col style="width: 250px;" />
                                        <col />
                                        <col style="width: 6.5em;" />
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>패턴</th>
                                        <th>삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-resource">
                                    <th:block th:each="resource : ${resources}">
                                        <th:block th:each="target, idx : ${modify.resources}">
                                            <tr th:if="${target.id == resource.id}">
                                                <td class="text-left" th:text="${resource.name}"></td>
                                                <td class="text-left" th:text="${resource.pattern}"></td>
                                                <td>
                                                    <input type="hidden" th:name="|resources[${idx.index}].id|" th:value="${resource.id}">
                                                    <span class="btn mr-1 btn-outline-danger btn-tiny rounded-pill" onclick="FN.removeRow(this)">삭제</span>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </th:block>
                                    </tbody>
                                </table>
                                <div th:if="${#fields.hasErrors('resources')}" th:errors="*{resources}" class="invalid-feedback"/>
                            </div>
                        </div>
                        <div class="row equal-line-btn align-items-end">
                            <div class="title col">메뉴목록<span class="em-check">*</span></div>
                            <div class="title text-right col">
                                <button type="button" class="btn mr-1 btn-sm btn-info" data-toggle="modal" data-target="#menuModal">추가</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="list-table col">
                                <table th:class="${#fields.hasAnyErrors() ? (#fields.hasErrors('menus') ? 'is-invalid' : 'is-valid') : ''}">
                                    <colgroup>
                                        <col style="width: 250px;" />
                                        <col style="width: 50px;" />
                                        <col />
                                        <col style="width: 100px;" />
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>순서</th>
                                        <th>URL</th>
                                        <th>삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-menu">
                                    <th:block th:fragment="node(menu, position)" th:unless="${#lists.isEmpty(menu.children)}">
                                        <th:block th:each="child : ${menu.children}" th:inline="text">
                                            <th:block th:each="target, idx : ${modify.menus}">
                                                <tr th:if="${target.id == child.id}">
                                                    <td class="text-left"
                                                        th:text="${#strings.isEmpty(position) ? child.name : #strings.concat(position, ' > ', child.name)}"></td>
                                                    <td th:text="${child.sort}"></td>
                                                    <td class="text-left" th:text="${child.url}"></td>
                                                    <td>
                                                        <span class="btn mr-1 btn-outline-danger btn-tiny rounded-pill" onclick="FN.removeRow(this)">삭제</span>
                                                        <input type="hidden" th:name="|menus[${idx.index}].id|" th:value="${child.id}">
                                                    </td>
                                                </tr>
                                            </th:block>
                                            <tr th:replace="this::node(${child}, ${#strings.isEmpty(position) ? child.name : #strings.concat(position, ' > ', child.name)})"></tr>
                                        </th:block>
                                    </th:block>
                                    </tbody>
                                </table>
                                <div th:if="${#fields.hasErrors('menus')}" th:errors="*{menus}" class="invalid-feedback"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col">
                                <span>
                                    <span tabindex="-1">
                                        <button type="submit" class="btn btn-primary mr-3">저장</button>
                                    </span>
                                </span>
                                <a class="btn btn-secondary" th:href="@{/access/role/detail(id=*{id})}">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- resource -->
    <script id="addResource" type="text/x-jsrender">
        <tr>
            <td class="text-left">{{:name}}</td>
            <td class="text-left">{{:pattern}}</td>
            <td>
                <input type="hidden" name="resources[].id" value="{{:id}}">{{:index}}
                <span class="btn mr-1 btn-outline-danger btn-tiny rounded-pill" onclick="FN.removeRow(this)">삭제</span>
            </td>
        </tr>
    </script>

    <div id="resourceModal" role="dialog" aria-labelledby="" aria-describedby="" class="modal fade" aria-modal="true">
        <div layout:replace="~{common/component/modal :: dialog(title='자원 조회', size='xl')}">
            <div layout:fragment="body" class="modal-body">
                <iframe id="search-resource" th:src="@{/access/resource/modal/search-page}" class="modal-frame"></iframe>
            </div>
            <footer layout:fragment="footer" class="modal-footer">
                <div class="w-100 text-center">
                    <button type="button" class="btn btn-dark mr-1" id="chooseResourceBtn">적용</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </footer>
        </div>
    </div>

    <!-- menu -->
    <script id="addMenu" type="text/x-jsrender">
        <tr>
            <td class="text-left">{{:name}}</td>
            <td>{{:sort}}</td>
            <td class="text-left">{{:url}}</td>
            <td>
                <input type="hidden" name="menus[].id" value="{{:id}}">
                <span class="btn mr-1 btn-outline-danger btn-tiny rounded-pill" onclick="FN.removeRow(this)">삭제</span>
            </td>
        </tr>
    </script>
    <div id="menuModal" role="dialog" aria-labelledby="" aria-describedby="" class="modal fade" aria-modal="true">
        <div layout:replace="~{common/component/modal :: dialog(title='메뉴 조회', size='lg')}">
            <div layout:fragment="body" class="modal-body">
                <iframe id="search-menu" th:src="@{/access/menu/modal/search-tree}" class="modal-frame"></iframe>
            </div>
            <footer layout:fragment="footer" class="modal-footer">
                <div class="w-100 text-center">
                    <button type="button" class="btn btn-dark mr-1" id="chooseMenuBtn">선택</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </footer>
        </div>
    </div>

</div>
</html>