<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" id="content">

    <script th:src="@{/js/access/role/page.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="find" th:object="${find}" th:action="@{/access/role/page}" method="get">
        <div class="row">
            <div class="col">
                <div class="search-box container-fluid">
                    <div class="row">
                        <div class="col">
                            <label>권한구분</label>
                            <div>
                                <div role="group" class="input-group">
                                    <select class="custom-select"
                                            th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('roleType') ? 'is-invalid' : 'is-valid') : ''}"
                                            th:field="*{roleType}">
                                        <option value="">전체</option>
                                        <option th:each="value : ${T(kr.co.niceday.cms.access.role.enumerate.RoleType).values()}"
                                                th:value="${value}"
                                                th:text="${value.description}"
                                                th:selected="(${value} eq *{roleType})"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col search-btn-refresh">
                            <button type="submit" class="btn btn-info ml-2">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:replace="common/component/page :: size(page=${page})"></div>
            <div th:replace="common/component/page :: title(page=${page})"></div>
            <div class="text-right col">
                <a class="btn btn-primary" th:href="@{/access/role/add-form}">등록</a>
            </div>
        </div>
    </form>

    <div class="row mt-3">
        <div class="list-table col">
            <table>
                <colgroup>
                    <col style="width: 6.5em;" />
                    <col style="width: 250px;" />
                    <col />
                    <col style="width: 6.5em;" />
                    <col style="width: 200px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>권한구분</th>
                        <th>설명</th>
                        <th>등록자</th>
                        <th>등록일시</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="role, idx: ${page.content}" th:onclick="|location.href='/access/role/detail?id=*{role.id}'|" class="handle">
                        <td th:replace="common/component/page :: number(page=${page}, index=${idx})"></td>
                        <td class="text-left" th:text="${role.roleType.description}"></td>
                        <td class="text-left" th:text="${role.description}"></td>
                        <td th:text="${role.creator.identifier}"></td>
                        <td th:text="${#temporals.format(role.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="common/component/page :: navigator(form='find', page=${page})"></div>
</div>
</html>