@charset "UTF-8";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
body, ul, ol {
    margin: 0;
    padding: 0;
    font-size: 13px !important;
}
ul ,ol {
    list-style: none;
}
a,
a:hover {
    color: #666;
    text-decoration: none !important;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
.pad-zero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.red {
    color: red;
}
.input-file {
    padding: 0.19rem !important;
}

/*.container-fluid {*/
/*    padding: 0 !important;*/
/*}*/
/* login */
.login-wrap {
    width: 100%;
    min-height: 1000px;
    background-color: #f9f9f9;
}
.login-box {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
}
.login-box img {
    display: block;
    width: 200px;
    margin: 0 auto 40px;
}
.login-box input {
    display: block;
    width: 80%;
    height: 50px;
    margin: 20px auto 0;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-box input::placeholder {
    color: #ccc;
    font-size: 14px;
}
.login-box .warning-message {
     width: 80%;
    margin: 0 auto;
}
.login-box button {
    display: block;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #0eb6e6;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
}

/* Toggle Styles */
#wrapper {
    padding-left: 200px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;

}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    background-color: #2a2a2e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 40px;
}
#wrapper.toggled i {
    float:right;
    margin: 15px 11px 0 0;
}
#wrapper.toggled #sidebar-wrapper {
    width: 40px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(30, 30, 33, 0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-brand {
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 52px;
    color: #999;
    float: none;
    background-color: #1e1e21;
}
.sidebar-brand:hover {
    color: #999;
}
#wrapper.toggled .sidebar-brand i {
    line-height: 52px;
    margin: 0 12px 0 0;
}

/* Top Navigation */
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
.top-nav {
    height: 50px;
    line-height: 50px;
    background: #6c757d;
}
.top-nav>li {
    color: #fff;
    height: inherit;
    display: inline-block;
}
.top-nav>li:nth-child(1) {
    width: 20%;
}
.top-nav > li:nth-child(1) img {
    width: 70px;
}
.top-nav>li:nth-child(2) {
    width: 75%;
}
.top-nav>li:nth-child(3) {
    width: 5%;
}
.top-nav>li>a {
    color: #fff;
    line-height: 60px;
}
.dropdown-menu {
    min-width: 13rem !important;
    padding: 0 !important;
}
.dropdown-menu.show {
    top: -12px !important;
    left: -80px !important;
}
.dropdown-menu.show li a {
    padding: 0 10px;
}
.contents {
    padding: 20px;
}
.contents .input-wrap {
    border: 1px solid #eee;
    border-radius: 5px;
}
.list-table table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    word-break: break-all;
    margin-top: -1px;
    background-color: #fff;
}
.list-table table th {
    border: 1px solid #d9ddea;
    background-color: #828282;
    padding: 8px 10px;
    color: #fff;
}
 .list-table table th,
 .list-table table td {
     padding: 8px 10px;
     text-align: center;
     vertical-align: middle;
     letter-spacing: 0px;
     word-break: break-all;
     border-bottom: 1px solid #e8eaf2;
     min-height: 47px;
 }
.search-btn {
    max-width: 120px !important;
    margin-top: 10px;
    align-self: center !important;
    text-align: center;
}
.btn {
    width: 90px;
}
.btn-inner-list {
    width: 56px;
    height: 22px;
    padding: 0.2rem 0 !important;
    font-size: 11px !important;
}
.contents {
    background-color: #f6f6f6;
    min-height: 1000px;
}
.bt-1 {
    border-top: 1px solid #000;
}
.bb-1 {
    border-bottom: 1px solid #000;
}
.depth-02 {
    background-color: #36373b;
    display: none;
}
.depth-02 li a:hover {
    background-color: #0eb6e6;
}
.open {
    display: block;
}
.modal {
    background-color: rgba(0,0,0,.5);
}
.modal-dialog {
    margin: 0 !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-content .modal-body {
    min-height: 720px;
    max-height: 720px;
    overflow-y: scroll;
}
.modal-header {
    background: #424958;
    color: #fff;
}
/* sticky-table */
.sticky-table {
    position: relative;
    padding-top: 40px;
}
@media screen and (max-width: 1024px) {
    .sticky-table {
        padding-top: 75px;
    }
}
.sticky-table .sticky-table-wrap {
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.sticky-table .sticky-table-wrap table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}
.sticky-table .sticky-table-wrap table tr {
    display: inline-table;
    width: 100%;
    table-layout: fixed;
}
.sticky-table .sticky-table-wrap table thead {
    position: absolute;
    top: 0;
    padding-right: 15px;
    z-index: 1;
}
.sticky-table thead th {
    height: 40px;
}
.sticky-table .sticky-table-wrap tbody tr {
    display: table-row;
}
.spinner-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
}
.spinner-wrap .spinner-box {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -40px;
}
.spinner-wrap p {
    color: #fff;
}
.modal-footer {
    justify-content: center !important;
}
.error-page {
    margin-top: 150px;
}
.error-code {
    font-size: 100px;
    color: #929292;
    line-height: 110px;
    font-weight: 300;
}
.error-text {
    font-size: 14px;
    color: #666;
}
.menu-dropdown {
    display: none;
    width: 200px;
    height: auto;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1;
    border: 1px solid #eee;
}
.menu-dropdown li a {
    display: block;
    padding: 0 20px;
}
.show {
    display: block;
}








