<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="size(page)" class="pr-0 col num-selec">
    <div>
        <div role="group" class="input-group">
            <select th:field="${page.size}" class="custom-select">
                <option value="10">10개씩</option>
                <option value="20">20개씩</option>
                <option value="30">30개씩</option>
                <option value="50">50개씩</option>
                <option value="100">100개씩</option>
            </select>
        </div>
        <div class="invalid-feedback"></div>
    </div>
</div>

<!-- search result title -->
<div th:fragment="title(page)" class="col num-check">
    <b>
        총
        <span class="em-check" th:text="${#numbers.formatInteger(page.totalElements, 0, 'COMMA')} + '건'"></span>의 결과가 있습니다.
        <span th:text="'(' + ${page.number + 1} +'/'+ ${(page.totalElements + page.size - 1) / page.size } +')'">(0/0)</span>
    </b>
</div>



<!-- number -->
<td th:fragment="number(page, index)" class="text-center" th:text="*{page.totalElements - (page.number * page.size + index.index)}"></td>


<!-- navigator -->
<div class="row" th:fragment="navigator(form, page)">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $(".page-link").click(function (e) {
                let form = $('#'.concat([[${form}]]));
                form.append($("<input>").attr({name:"page", type:"hidden", "value":this.dataset.page}));
                form.find('input:hidden[name="page"]').val(this.dataset.page);
                form.submit();
            });
        })
        /*]]>*/
    </script>

    <input type="hidden" id="page" name="page">
    <div class="col">
        <ul role="menubar" aria-disabled="false" aria-label="Pagination"
            class="pagination b-pagination justify-content-center mb-0 mt-0"
            th:with="start=${1},
                      maxPage = ${(page.totalElements + page.size - 1) / page.size },
                      end=(${(page.totalElements == 0) ? 1 : (start + (maxPage - 1) < page.totalElements ? start + (maxPage - 1) : page.totalElements)})">

            <li role="presentation" aria-hidden="true" class="page-item"
                th:classappend="(${maxPage < 1} == true) or (${page.number == 0} == true) ? 'disabled' : ''">
                <span role="menuitem" aria-label="Go to first page" aria-disabled="true" class="page-link" th:data-page="0">«</span>
            </li>
            <li role="presentation" aria-hidden="true" class="page-item" th:classappend="${page.number < 1} == true ? 'disabled' : ''">
                <span role="menuitem" aria-label="Go to previous page" aria-disabled="true" class="page-link" th:data-page="${page.number-1}">‹</span></li>

            <li role="presentation" class="page-item" th:each="number : ${#numbers.sequence(start, end)}" th:classappend="${number eq page.number+1} ? 'active' : '' ">
                <button role="menuitemradio" type="button" aria-label="Go to page 1" aria-checked="true"
                        aria-posinset="1" aria-setsize="48" tabindex="0" class="page-link" th:data-page="${number-1}" th:text="${number}">
                </button>
            </li>

            <li role="presentation" class="page-item" th:classappend="${page.number+1 >= maxPage} ? 'disabled' : ''">
                <button role="menuitem" type="button" tabindex="-1" aria-label="Go to next page"
                        class="page-link" th:data-page="${page.number + 1}">›
                </button>
            </li>
            <li role="presentation" class="page-item" th:classappend="(${end == 1} == true) or (${page.number == maxPage - 1} == true) ? 'disabled' : ''">
                <button role="menuitem" type="button" tabindex="-1" aria-label="Go to last page"
                        class="page-link" th:data-page="${maxPage - 1}">»
                </button>
        </ul>
    </div>
</div>
</html>