<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div th:fragment="container" id="toast-container" class="toast-bottom-right">


<!--        <div class="toast toast-info" aria-live="polite" style="">-->
<!--            <button type="button" class="toast-close-button" role="button">×</button>-->
<!--            <div class="toast-title">내용</div>-->
<!--            <div class="toast-message">제목</div>-->
<!--        </div>-->


        <!-- exception -->
        <div th:if="${!#strings.isEmpty(exception)}" id="exception-toast" class="toast toast-warning" style="display: block;">
            <script>
                setTimeout(function (){
                    $('#exception-toast').fadeOut(2000, function (){
                        $('#exception-toast').remove();
                    });
                }, 2000);
            </script>
            <button type="button" class="toast-close-button" role="button">×</button>
            <div class="toast-title"   th:text="${exception.code}"></div>
            <div class="toast-message" th:text="${exception.message}"></div>
        </div>

    </div>
</html>