<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">





<div th:fragment="header" class="nice-local-bar">
    <div class="navbar navbar-expand flex-column flex-md-row bd-navbar">
        <div class="logo float-left">
            <img th:src="@{/images/common/layout/module/header-logo.png}" alt="(주)나이스데이">
        </div>
        <ul class="navbar-nav ml-md-auto ">
            <li class="nav-item dropdown show">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown"
                   aria-expanded="true"
                   th:text="|${#authentication.principal.account.identifier}(${#authentication.principal.account.name})|">
<!--                    <div class="sidebar-heading" sec:authorized="isAuthenticated()">-->
<!--                        권한<label sec:authentication="authorities"></label>-->
<!--                    </div>-->
                </a>
                <div class="dropdown-menu dropdown-menu-md-right ">
<!--                    <a class="dropdown-item" href="">내 정보</a>-->
<!--                    <a class="dropdown-item" href="">설정</a>-->
                    <a class="dropdown-item" th:href="@{/access/account/login/out}">로그아웃</a>
                </div>
            </li>
        </ul>
    </div>
</div>
</html>