<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="include">

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/common/layout/module/icon-niceday.png}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/layout/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/component/toastr@2.1.1.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/common/component/toastr@2.1.1.min.js}"></script>


    <!--    <script src="/js/common/component/layout/vendor/jquery-easing/jquery.easing.js"></script>-->
    <!--    <script src="/js/common/component/layout/vendor/sb-admin-2/sb-admin-2.min.js"></script>-->
    <!--    <script src="/js/common/component/layout/vendor/lodash/4.17.21/lodash.min.js"></script>-->

    <!-- js inner -->
    <script src="/js/common/layout/jquery-ajax.js"></script>
    <script src="/js/common/layout/jquery-toastr.js"></script>
    <script src="/js/common/layout/jsrender.js"></script>
    <script src="/js/common/layout/class-model.js"></script>

</th:block>

</html>