<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="sidebar" class="nice-side-bar">

    <script th:src="@{/js/common/layout/module/sidebar.js}"></script>
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="sidebar-item selected">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{'/alone/main/dash-board'}" aria-expanded="false">
                    <span class="hide-menu">대시보드</span></a>
            </li>

            <li class="sidebar-item"
                th:with="depth=1"
                th:each="child, idx : ${sidebar.children}">
                <a th:unless="${#lists.isEmpty(child.children)}" class="sidebar-link has-arrow">
                    <span th:text="${child.name}" class="hide-menu"/>
                </a>
                <a th:if="${#lists.isEmpty(child.children)}" th:href="@{${child.url}}" class="sidebar-link">
                    <span th:text="${child.name}" class="hide-menu"/>
                </a>
                <ul th:fragment="node(child, depth)" th:unless="${#lists.isEmpty(child.children)}"
                    th:classappend="${depth == 1 ? 'first-level' : (depth == 2 ? 'second-level' : (depth == 3 ? 'third-level' : (depth == 4 ? 'fouth-level' : '')))}"
                    aria-expanded="false" class="collapse in">
                    <li th:each="item : ${child.children}" class="sidebar-item">
                        <a th:if="${#lists.isEmpty(item.children)}" th:href="@{${item.url}}"
                           th:classappend="${#strings.isEmpty(item.url) ? '' : 'waves-effect waves-dark'}"
                           class="sidebar-link">
                            <span th:text="${item.name}" class="hide-menu"></span>
                        </a>
                        <a th:unless="${#lists.isEmpty(item.children)}"
                           th:classappend="${#strings.isEmpty(item.url) ? 'has-arrow' : 'waves-effect waves-dark'}"
                           class="sidebar-link">
                            <span th:text="|${item.name} ${depth}|" class="hide-menu"></span>
                        </a>
                        <ul th:replace="this::node(${item}, ${depth+1})" aria-expanded="false"/>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


<div th:fragment="navigate" class="row title-box">
    <th:block th:each="navi : ${sidebar.navigates}" th:if="${#strings.contains(#httpServletRequest.requestURI, navi.url)}">
        <div class="title col" th:text="${navi.name}"></div>
        <div class="title-nav col" th:text="${navi.path}"></div>
    </th:block>
</div>
</html>