<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/iframe}">

    <div layout:fragment="iframe" class="modal-body">
        <script th:src="@{/js/access/resource/modal/search-page.js}"></script>
        <div class="container-fluid">
            <form id="find" th:object="${find}" th:action="@{/access/resource/modal/search-page}" method="get">
                <div class="search-box container-fluid">
                    <div class="row">
                        <div class="col"><label>이름</label>
                            <div useall="true">
                                <div role="group" class="input-group">
                                    <input type="text"class="form-control" th:field="*{name}"/>
                                </div>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col search-btn-refresh">
                            <button type="submit" class="btn btn-info">검색</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:replace="common/component/page :: size(page=${page})"></div>
                    <div th:replace="common/component/page :: title(page=${page})"></div>
                </div>
                <div class="row mt-3">
                    <div class="list-table sticky-table col">
                        <div class="sticky-table-wrap" style="max-height: 300px;">
                            <table>
                                <colgroup>
                                    <col style="width: 30px;">
                                    <col style="width: 150px;" />
                                    <col style="width: 200px;" />
                                    <col />
                                    <col style="width: 6.5em;" />
                                    <col style="width: 200px;" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>선택</th>
                                    <th>이름</th>
                                    <th>패턴</th>
                                    <th>설명</th>
                                    <th>등록자</th>
                                    <th>등록일시</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="resource, idx: ${page.content}" class="handle">
                                    <td><input type="checkbox" name="resources" th:value="${resource.id}"/></td>
                                    <td name="name" class="text-left" th:text="${resource.name}"></td>
                                    <td name="pattern" class="text-left" th:text="${resource.pattern}"></td>
                                    <td class="text-left" th:text="${resource.description}"></td>
                                    <td th:text="${resource.creator.identifier}"></td>
                                    <td th:text="${#temporals.format(resource.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:replace="common/component/page :: navigator(form='find', page=${page})"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</html>