<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/access/resource/modify-form.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="modify" th:object="${modify}" th:action="@{/access/resource/modify}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div>
                        <div class="row">
                            <div class="title col">
                                기본 정보
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label>이름<span class="em-check">*</span></label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <input autocomplete="off" class="form-control"
                                               th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('name') ? 'is-invalid' : 'is-valid') : ''}"
                                               th:type="text"
                                               th:field="*{name}">
                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col"><label>패턴<span class="em-check">*</span></label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <input autocomplete="off" class="form-control"
                                               th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('pattern') ? 'is-invalid' : 'is-valid') : ''}"
                                               th:type="text"
                                               th:field="*{pattern}">
                                        <div th:if="${#fields.hasErrors('pattern')}" th:errors="*{pattern}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label>설명</label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <input autocomplete="off" class="form-control"
                                               th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('description') ? 'is-invalid' : 'is-valid') : ''}"
                                               th:type="text"
                                               th:field="*{description}">
                                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col">
                                <span>
                                    <span tabindex="-1">
                                        <button type="submit" class="btn btn-primary mr-3">저장</button>
                                    </span>
                                </span>
                                <a class="btn btn-secondary" th:href="@{/access/resource/detail(id=*{id})}">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>