<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/access/resource/page.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="find" th:object="${find}" th:action="@{/access/resource/page}" method="get">
        <div class="row">
            <div class="col">
                <div class="search-box container-fluid">
                    <div class="row">
                        <div class="col">
                            <label>내용</label>
                            <div>
                                <div role="group" class="input-group">
                                    <input th:field="*{name}" type="text" placeholder="검색어를 입력하세요" autocomplete="off" class="form-control">
                                </div>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col search-btn-refresh">
                            <button type="submit" class="btn btn-info ml-2">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:replace="common/component/page :: size(page=${page})"></div>
            <div th:replace="common/component/page :: title(page=${page})"></div>
            <div class="text-right col">
                <a class="btn btn-primary" th:href="@{/access/resource/add-form}">등록</a>
            </div>
        </div>
    </form>

    <div class="row mt-3">
        <div class="list-table col">
            <table>
                <colgroup>
                    <col style="width: 6.5em;" />
                    <col style="width: 150px;" />
                    <col style="width: 200px;" />
                    <col />
                    <col style="width: 6.5em;" />
                    <col style="width: 200px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>패턴</th>
                        <th>설명</th>
                        <th>등록자</th>
                        <th>등록일시</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="resource, idx: ${page.content}" th:onclick="|location.href='/access/resource/detail?id=*{resource.id}'|" class="handle">
                        <td th:replace="common/component/page :: number(page=${page}, index=${idx})"></td>
                        <td class="text-left" th:text="${resource.name}"></td>
                        <td class="text-left" th:text="${resource.pattern}"></td>
                        <td class="text-left" th:text="${resource.description}"></td>
                        <td th:text="${resource.creator.identifier}"></td>
                        <td th:text="${#temporals.format(resource.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="common/component/page :: navigator(form='find', page=${page})"></div>
</div>
</html>