<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/blank}">

<div layout:fragment="content" class="row login">
    <div class="create-pop col">
        <form th:action="@{/access/account/login/process}" method="post" class="create-area">
            <div class="view-box container-fluid">
                <div class="row">
                    <div class="title col">
                        <h1 class="logo"><img alt="niceday" th:src="@{/images/access/account/login/logo.png}"></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="input-group" role="group">
                                <input autocomplete="off" class="form-control" id="floatingInput" name="identifier" placeholder="아이디" type="text">
                            </div>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="input-group" role="group">
                                <input autocomplete="off" class="form-control" id="floatingPassword" name="password" placeholder="비밀번호" type="password">

                            </div>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- todo -->
                        <div class="warning-message red text-left mt-2 mb-4" th:text="${#objects.nullSafe(exception?.message, '')}"></div>
                        <button class="btn btn-secondary" type="submit">로그인</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
