/* reset.css */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	background-color: #f6f6f6;
	height: 100%;
	line-height: 1;
}
ol, ul, dl {
	list-style: none;
	margin-bottom: 1rem;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dt{font-weight: 700;}

a,button,.btn-link{
	color:#fff;
}

/*******************
	font reset
*********************/
body {
	font-family: Malgun Gothic, '\B9D1\C740\ACE0\B515', Dotum, '\B3CB\C6C0', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.8em;
	word-spacing: -0.5px;
	overflow-x: hidden;
}

input,
select,
textarea {
	font-family: Malgun Gothic, '\B9D1\C740\ACE0\B515', Dotum, '\B3CB\C6C0', Tahoma, Arial, Helvetica, sans-serif;
}

b, strong{
	font-weight: bolder;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h5, .h5{
    font-size: 1.25rem;
}
/*******************
	bootstrap reset
*********************/
.form-control {
	display: inline;
	width: 100%;
	min-height: 40px !important;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select {
	display: inline;
	width: 100%;
	height: 40px;
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}