<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/access/menu/detail.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="detail" th:object="${findOne}" th:action="@{/access/menu/delete}" method="post">
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div class="row">
                        <div class="title col">기본 정보</div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>이름</label></div>
                        <div class="col" th:text="*{name}"/>
                        <div class="col-2"><label>순서</label></div>
                        <div class="col" th:text="*{sort}">예</div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>URL</label></div>
                        <div class="col" th:text="*{url}"/>
                        <div class="col-2"><label>사용여부</label></div>
                        <div class="col" th:text="${findOne.useYn ? '예' : '아니오'}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center col">
                <a class="btn mr-3 btn-primary" th:href="@{/access/menu/modify-form(id=*{id})}">수정</a>
                <span>
                    <span tabindex="-1">
                        <button type="submit" class="btn btn-danger mr-3">삭제</button>
                    </span>
                </span>
                <a class="btn btn-secondary" th:href="@{/access/menu/tree}">취소</a>
            </div>
        </div>
    </form>
</div>
</html>