<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <link rel="stylesheet" type="text/css" th:href="@{/css/access/menu/tree.css}">
    <script th:src="@{/js/access/menu/tree.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="detail" th:object="${findOne}" th:action="@{/access/menu/delete}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div class="row">
                        <div class="title col">기본 정보</div>
                    </div>
                    <div class="col">
                        <div class="wtree-root">최상위 메뉴
                            <a class="btn btn-primary btn-tiny ml-1 float-right" th:href="@{/access/menu/add-form(parent.id=${findOne.id})}">등록</a>
                        </div>
                        <ul class="wtree">
                            <th:block th:fragment="tree-li(findOne)" th:unless="${#lists.isEmpty(findOne.children)}">
                                <li th:each="child : ${findOne.children}" th:inline="text">
                                <span>
                                    [[${child.name}]]
                                    <a class="btn btn-secondary btn-tiny ml-1 float-right" th:href="@{/access/menu/detail(id=${child.id})}">상세보기</a>
                                    <a class="btn btn-primary btn-tiny ml-1 float-right" th:href="@{/access/menu/add-form(parent.id=${child.id})}">등록</a>
                                </span>
                                    <th:block th:unless="${#lists.isEmpty(child.children)}">
                                        <ul>
                                            <li th:replace="this::tree-li(${child})"></li>
                                        </ul>
                                    </th:block>
                                </li>
                            </th:block>
                        </ul>
                    </div>
              </div>
            </div>
        </div>
    </form>
</div>
</html>