<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/sample/detail.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="detail" th:object="${findOne}" th:action="@{/sample/delete}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div class="row">
                        <div class="title col">기본 정보</div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>학교명</label></div>
                        <div class="col-4" th:text="*{name}"/>
                        <div class="col-2"><label>학교구분</label></div>
                        <div class="col-4" th:text="*{schoolType.description}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center col">
                <a class="btn mr-3 btn-primary" th:href="@{/sample/modify-form(id=*{id})}">수정</a>
                <span>
                    <span tabindex="-1">
                        <button type="submit" class="btn btn-danger mr-3">삭제</button>
                    </span>
                </span>
                <a class="btn btn-secondary" th:href="@{/sample/page}">취소</a>
            </div>
        </div>
    </form>
</div>
</html>