<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/sample/modify-form.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="modify" method="post" th:object="${modify}" th:action="@{/sample/modify}">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div>
                        <div class="row">
                            <div class="title col">
                                기본 정보
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label>학교명<span class="em-check">*</span></label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <input autocomplete="off" class="form-control"
                                               th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('name') ? 'is-invalid' : 'is-valid') : ''}"
                                               th:type="text"
                                               th:field="*{name}">
                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col"><label>학교구분<span class="em-check">*</span></label>
                                <div>
                                    <div role="group" class="input-group float-right">
                                        <select class="custom-select" th:classappend="${#fields.hasAnyErrors() ? (#fields.hasErrors('schoolType') ? 'is-invalid' : 'is-valid') : ''}"
                                                th:field="*{schoolType}">
                                            <option th:each="value : ${T(kr.co.niceday.cms.sample.enumerate.SchoolType).values()}"
                                                    th:value="${value.name()}" th:text="${value.description}"></option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('schoolType')}" th:errors="*{schoolType}" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-center col">
                                <span>
                                    <span tabindex="-1">
                                        <button type="submit" class="btn btn-primary mr-3">저장</button>
                                    </span>
                                </span>
                                <a class="btn btn-secondary" th:href="@{/sample/page}">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>