<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/iframe}">

    <div layout:fragment="iframe" class="modal-body">
        <link rel="stylesheet" type="text/css" th:href="@{/css/access/menu/tree.css}">
        <script th:src="@{/js/access/menu/modal/search-tree.js}"></script>
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <div class="wtree-root">최상위 메뉴</div>
                    <ul class="wtree">
                        <th:block th:fragment="tree-li(findOne)" th:unless="${#lists.isEmpty(findOne.children)}">
                            <li th:each="child : ${findOne.children}" th:inline="text">
                        <span>
                            <input type="checkbox" name="menus" th:value="${child.id}" class="mr-1"/>
                            <input type="hidden" name="name" th:value="${child.name}"/>
                            <input type="hidden" name="sort" th:value="${child.sort}"/>
                            <input type="hidden" name="url"  th:value="${child.url}"/>
                            [[${child.name}]]
                        </span>
                                <th:block th:unless="${#lists.isEmpty(child.children)}">
                                    <ul>
                                        <li th:replace="this::tree-li(${child})"></li>
                                    </ul>
                                </th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</html>