<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default}">

<div layout:fragment="content" class="container-fluid">

    <script th:src="@{/js/access/account/user/detail.js}"></script>

    <div th:replace="common/layout/module/sidebar :: navigate"/>

    <form id="detail" th:object="${findOne}" th:action="@{/access/account/user/delete}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="row">
            <div class="col">
                <div class="view-box container-fluid">
                    <div class="row">
                        <div class="title col">기본 정보</div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>아이디</label></div>
                        <div class="col-4" th:text="*{identifier}"/>
                        <div class="col-2"><label>이름</label></div>
                        <div class="col-4" th:text="*{name}"/>
                    </div>
                    <div class="row">
                        <div class="col-2"><label>이메일</label></div>
                        <div class="col-10" th:text="*{email}"/>
                    </div>
                    <div class="row equal-line-btn align-items-end">
                        <div class="title col">권한목록</div>
                    </div>
                    <div class="row">
                        <div class="list-table sticky-table col">
                            <div class="sticky-table-wrap" style="max-height: 300px;">
                                <table>
                                    <colgroup>
                                        <col style="width: 130px;"/>
                                        <col />
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>권한구분</th>
                                        <th>설명</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="role, idx: ${findOne.roles}">
                                        <td class="text-left" th:text="${role.roleType.description}"></td>
                                        <td class="text-left" th:text="${role.description}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <a class="btn mr-3 btn-primary" th:href="@{/access/account/user/modify-form(id=*{id})}">수정</a>
                <span>
                    <span tabindex="-1">
                        <button type="submit" class="btn btn-danger mr-3">삭제</button>
                    </span>
                </span>
                <a class="btn btn-secondary" th:href="@{/access/account/user/page}">취소</a>
            </div>
        </div>
    </form>
</div>
</html>